* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-back {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 200px 250px 0 0 hsl(212, 86%, 64%), 100px 250px 0 0 hsl(212, 86%, 64%);
}

body {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    background-image: element();
}

.container {
    width: 80%;
    margin: 70px auto;
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px hsl(246, 34%, 87%);
    padding: 4% 5%;
    height: auto;
}

.sub-title {
    font-size: 1.5em;
    font-weight: 100;
    font-stretch: semi-expanded;
}

.card {
    display: flex;
    /* flex-wrap: wrap; */
}

.sub-title,
.tech,
.middle {
    width: 45%;
    margin: 12px auto;
    text-align: center;
}

.card-item {
    box-shadow: 0px 0px 15px 0px hsl(246, 34%, 87%);
    width: 33.33%;
    padding: 12px 15px 5px 15px;
    border-radius: 5px;
    margin: 30px 25px;
    height: 250px;
}

h1 {
    margin-bottom: 25px;
    margin-top: 10px;
}

.move-down {
    margin-top: 150px;
}

.red {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.cyan {
    border-top: 3px solid hsl(180, 62%, 55%);
}

.yellow {
    border-top: 3px solid hsl(34, 97%, 64%);
}

.blue {
    border-top: 3px solid hsl(212, 86%, 64%);
}

img {
    float: right;
    margin-top: 25px;
}

.centre {
    width: 33.33%
}

.full {
    width: 100%;
    margin: 30px auto;
    height: 250px;
}

p {
    color: hsl(229, 6%, 66%)
    /* hsl(0, 0%, 98%); */
}


/* 
@media (max-width: 952px) {
    .container {
        width: 90%;
        padding: 10px 20px;
        margin: 12px auto;
    }
    .card-item,
    .centre {
        width: 200px;
        height: 250px;
        margin: 10px 5px;
    }
    img {
        margin-top: 12px;
    }
} */

@media (max-width: 600px) {
    .card {
        flex-direction: column;
        width: 90%;
        margin: 25px auto;
    }
    .card-item,
    .centre {
        width: 100%;
        margin: 25px auto;
    }
    .container {
        box-shadow: none;
        background-color: #ffffff;
        margin: 15px auto;
    }
    .tech,
    .sub-title,
    .middle {
        width: 80%;
    }
    .centre {
        margin: 0px 0;
    }
    .full {
        margin-bottom: 15px;
    }
}